body {
    background-color:rgb(255, 230, 221);
    
}

h1 {
    /*Get in touch*/
    font-family: sans-serif;
    background-color:rgb(255, 230, 221);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h2 {
    /*love to hear from you*/
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}


form {
    /*centre on the page*/
    margin: auto;
    width: 400px;
    padding: 50px;
}

.button {
    display: inline-flex;
    padding: 10px;
}

label {
    font-family: sans-serif;
    padding: 10px;

}

Input[type=text]{
    width: 300px;
    height: 10px;
    padding: 5px;
}

Input[type=email]{
    width: 300px;
    height: 10px;
    padding: 5px;
}

textarea {
    width: 400px;
    height: 300px;
   
}
