body {
    background-color:rgb(255, 230, 221);
    
}

h1 {
    /*Get in touch*/
    font-family: sans-serif;
    background-color:rgb(255, 230, 221);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h2 {
    /*love to hear from you*/
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}


form {
    /*centre on the page*/
    margin: auto;
    width: 400px;
    padding: 50px;
    z-index: 1;
}

.button {
    
    display: inline-flex;
    border-radius: 15px;
   

}

/* all text on the form*/
label {
    font-family: sans-serif;
    font-size: 110%;
    padding: 10px;
}


/* 'name' text box style and position*/
Input[type=text]{
    width: 300px;
    height: 10px;
    padding: 5px;
    z-index: 2;
}

/*'email' text box style and position*/
Input[type=email]{
    width: 300px;
    height: 10px;
    padding: 5px;
    position: relative;
    left: 3px;
}

/*text box size and position*/
textarea {
    width: 380px;
    height: 300px;  
}

img {
    position: relative;
    bottom: 550px;
    left: 900px;
    z-index: 3;
    transform: rotate(10deg);


}

.polaroid {
    /*design on photos*/
    background: #fff;
    padding: 0.8rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}
  
